<strong>Olá {{ deliveryMan }}</strong>
<p><strong>Uma encomenda acabou de ser cancelada, confira os detalhes abaixo:</strong></p>

<p>
    <strong>Produto: {{ product }}</strong></br>
    <strong>Destinatario: {{ recipient }}</strong></br>
    <strong>Data de cancelamento: {{ date }}</strong></br>
    </br>
</p>
