<strong>Olá {{ deliveryMan }}</strong>
<p><strong>O produto já está disponível para a retirada, confira os detalhes abaixo:</strong></p>

<p>
    <strong>Produto: {{ product }}</strong></br>
    <strong>Destinatario: {{ recipient }}</strong></br>
    <strong>Data de cadastro: {{ date }}</strong></br>
    </br>
</p>
